<!-- 로그인 템플릿 -->
<template name="login">
    <form class="login-submit  col-md-4 col-md-offset-5">
        <h3><label class="label">Email</label></h3>
        <input type="email" class="login-email input-sm">
        <h3><label class="label">Password</label></h3>
        <input type="password" class="login-password input-sm">
        <button type="submit" class="btn btn-success">Log in</button>
        <button type="button" class="back btn btn-warning">Back</button>

        <!-- 에러 메시지를 보여준다. -->
        <h4><span class="error-message label label-danger">{{loginErrorMessage}}</span></h4>
    </form>
</template>